/* screen.css */
body {
    margin: auto; /* center in viewport */
    width: 960px;
}

#intro-text {
}

#recent-pictures {
}

#nav {
}


#main {
  margin-left: .5em;
}



.yui3-loading #nav-menu {
	display: none;
}
