
body {
 margin:20px;
 background:#FAFAFA;
 color: #333333;
 text-align:center;
 padding:0;
 }

h3, p {
 margin:0;
 padding:15px;
 }

h4 {
 margin:0; 
 padding: 5px 0;
 }

#outer {
 text-align:left;
 border:1px solid #6993A5;
 width:650px;
 margin:auto;
 }

#hdr {
 height:100px;
 background:#FFFFFF;
 color: #333333;
 }

#bar {
 height:25px;
 background:#FFFFFF;
 color: #333333;
 border:solid #6993A5;	
 border-width:1px 0 1px 0;
 }

#bodyblock {
 position:relative;
 background: #ffffff;
 color: #333333;
 width:650px;
 padding:0;
 }

#l-col {
 float:left;
 background:#FFFFFF;
 color: #333333;
 width:145px;
 }

#content {
 width:495px;
 background:#ffffff;
 color: #333333;
 border:solid #6993A5;	
 border-width:0 0 0 1px;
 text-align:left;
 }

#footer {
 height:25px;
 background:#D2DEE4;
 color: #333333;
 border:solid #6993A5;
 border-width:1px 0 0 0;
 margin:0;
 }

