[% META title='Sign up!' %]
[% IF c.user_exists %]
<div>You're already signed up! Click <a href="[% c.uri_for(c.controller('Users').action_for('user_owns_profile'), [user.userid]) %]">here</a> to go to your profile.</div>
[% ELSE %]
[% UNLESS form.submitted_and_valid %]
<p>All fields are required.</p>
[% form %]
[% END %]

[% IF form.submitted_and_valid %]
Click check your email for your validation key to activate your account.
[% END %]

[% END %]

